body {
    /*background-color: white;*/
    /*background-image: url('kingof.jpg');*/
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000428, #004e92); 
    background: linear-gradient(to bottom, #0b0f2e, #004e92);
    opacity: 1;
    filter: alpha(opacity=50);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}
div#menu{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
* {
    margin: 0%;
    padding: 0%;
}
div#lista {
    flex-direction: flex-end;
}
td {
 width: 1400px;
 color: black;

}
